@model HomeViewModel



<h2>Equipments</h2>
<h4>Please choose your equipment for rent</h4>

<div class="row">

    @foreach (var equipment in Model.Equipments)
    {
        <partial name="_Equipment" model="equipment" />
    }

</div>