
@{
    ViewData["Title"] = "Rent";
}

<h2>Rent Confirmation</h2>
<h4>Please review and confirm rent items</h4>

<div>
    <div id="rentGrid" class="ag-theme-alpine" style="height: 400px; width:1000px;"></div>
</div>
<br /> <br />
<button id="ConfirmRent"class="btn btn-primary">Confirm</button>

@section Scripts{

    <script type="text/javascript">

    //Grid start
        const columnDefs = [
            {
                field: "",
                headerName: 'Delete',
                minWidth: 150,
                checkboxSelection: true
             },
            { field: "Id", hide:true },
            { field: "EquipmentName" },
            { field: "Days" },
            { field: "Price"}
        ];

        const gridOptions = {
            columnDefs: columnDefs,
            rowSelection: "multiple",
            defaultColDef: {
            suppressKeyboardEvent: params => {
              if (!params.editing) {
                let isBackspaceKey = params.event.keyCode === 8;
                let isDeleteKey = params.event.keyCode === 46;

                // Delete selected rows with back space

                if (isDeleteKey) {
                  const selectedRows = params.api.getSelectedRows();
                  params.api.applyTransaction({ remove: selectedRows });
                  return true;
                }


                return false;
              }
            }
          }

        };

        const eGridDiv = document.querySelector('#rentGrid');

        new agGrid.Grid(eGridDiv, gridOptions);

        function numberParser(params) {
            return Number(params.newValue);
        }

        fetch('Rent/GetData')
            .then(response => response.json())
            .then(data => {
                data = JSON.parse(data)
                console.log(data)
                gridOptions.api.setRowData(data);
            });
    //grid end


        $('#ConfirmRent').on('click', function () {
                
                var equipments = [];
                gridOptions.api.forEachNode(function (node) {
                    equipments.push(node.data);
                });

                $.post('Rent/ConfirmRent', { equipments: equipments },
	                function () {
                        console.log('Equipment(s) added to rent.');
	                });
            });

         
        $('#GenerateInvoice').on('click', function () {
                
                $.post('Invoice/GetInvoiceData',
	                function () {
                        console.log('Equipment(s) added to Invoice.');
	                }).done(function(data)
                    {
                        window.location.replace("Invoice");
                    });
            });

    </script>
}