@model EquipmentViewModel
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            @*<img src="@Model.ImageThumbnailUrl" alt="">*@
            <div class="caption">
                <h3>
                    @Model.Name
                </h3>
                <p> @Model.EquipmentType</p>
            </div>
            <div class="addToCart">
                <p class="button">
                    <a class="btn btn-primary" 
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-pieId="@Model.Id">Add to cart</a>
                </p>
            </div>
        </div>
    </div>